@use 'colors';
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:600i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700&display=swap');

html,
body {
  width: 100%;
  min-height: 100%;
  /* min-width: 325px; */
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  /* scroll-behavior: smooth;
  scroll-behavior: ; */
}

.light-theme {
  background-color: colors.$base3;
  color: colors.$base0;
}

.light-theme .title-underline {
  border: 3px solid colors.$base0;
}

.light-theme h2 {
  color: colors.$blue;
}
.dark-theme {
  background-color: colors.$base03;
  color: colors.$base0;
}

.dark-theme strong {
  color: colors.$yellow;
}

.dark-theme .title-underline {
  border: 3px solid colors.$base0;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
}

h1,
h2 {
  font-family: 'Zilla Slab', serif;
}

h1 {
  font-size: 5.5rem;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
  font-weight: 600;
  font-style: italic;
}

h3 {
  font-size: 3rem;
  font-family: 'Lato';
  font-weight: 700;
}

p {
  font-size: 1.5rem;
  font-family: 'Lato';
}

a {
  color: colors.$violet;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;
  padding: 0 4px;
}

a svg {
  fill: colors.$violet;
}

a:hover svg {
  fill: colors.$magenta;
}

a.bold-link {
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
  font-style: italic;
}

a:hover {
  color: colors.$magenta;
  text-decoration: none;
  cursor: pointer;
}

a,
a * {
  transition: color 0.3s, width 0.3s, height 0.3s, transform 0.3s;
}
#root {
  min-height: 100%;
  width: 100%;
  display: flex;
}

#nav-wrap,
#content-wrap {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#content-wrap {
  min-width: 100%;
  min-height: 100%;
}

#splash,
#about,
#projects,
#contact {
  width: 100%;
  min-height: 105vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  box-sizing: border-box;
  padding-left: 150px;
}

#splash > *,
#about > *,
#projects > *,
#contact > *,
#nav-wrap {
  z-index: 2;
}

.title-underline {
  height: 0px;
  width: 150px;
  margin-bottom: 15px;
}

.title-row a img {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: width 0.2s, height 0.2s;
}

.title-row a {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 20px;
}

.title-row a:hover svg {
  width: 110%;
  height: 110%;
}

.title-row {
  display: flex;
}

#bg-animate {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
