@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:600i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,700&display=swap');

html,
body {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Lato';
  font-size: 10px;
  color: #def2ff;
  scroll-behavior: smooth;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2 {
  font-family: 'Zilla Slab';
}

h1 {
  font-size: 5.5rem;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
  font-weight: 600;
  font-style: italic;
}

h3 {
  font-size: 3rem;
  font-family: 'Lato';
  font-weight: 700;
}

p {
  font-size: 1.5rem;
  font-family: 'Lato';
}

strong {
  color: #1da385;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

#root {
  min-height: 100%;
  width: 100%;
  display: flex;
}

#nav-wrap,
#content-wrap {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#nav-wrap {
  position: fixed;
  height: 100%;
  width: 150px;
  padding: auto 0;
  padding-left: 20px;
  align-items: flex-start;
  justify-content: center;
}

#nav-wrap .nav-link {
  font-size: 3rem;
  font-weight: 700;
  margin: 50px 0;
  cursor: pointer;
}
#nav-wrap #nav-home {
  transition: height 0.2s, margin 0.2s;
}
#nav-wrap #nav-home.true {
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#nav-wrap .nav-link.true {
  color: white;
}

#profile-wrap {
  width: 200px;
  height: 200px;
  border-radius: 30%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
}

#profile-wrap img {
  width: 100%;
  height: 100%;
}

#content-wrap {
  min-width: 100%;
  min-height: 100%;
}

#splash,
#about,
#projects,
#contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  box-sizing: border-box;
  padding-left: 150px;
}

#splash {
  min-height: 100vh;
}

.title-underline {
  border: 3px solid #def2ff;
  height: 0px;
  width: 150px;
  margin-bottom: 15px;
}

.title-row a img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.title-row a {
  width: fit-content;
  margin: 0 20px;
}

.title-row {
  display: flex;
}

.modal-darken {
  position: fixed;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #33333399;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bg-animate {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
