#contact {
  min-height: 100vh;
  background-color: #11151c;
  background-image: url('../assets/death-star.svg');
}

#contact,
#contact .section-body-wrap {
  display: flex;
  flex-direction: column;
}

#contact p {
  font-size: 1.75rem;
  text-align: center;
  margin: 10px 0;
}

#contact form {
  margin: 20px 0;
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
}

#contact .section-body-wrap {
  padding: 20px;
  flex-grow: 1;
  /* justify-content: center; */
  align-items: center;
}

#contact input,
#contact textarea {
  background-color: #3b3f47;
  color: #def2ff;
  outline: none;
  border: none;
  height: 30px;
  /* border: 1px solid black; */
  transition: border 0.2s;
  /* border-radius: 3px; */
  margin: 10px 0;
  font-size: 1.5rem;
  outline: none;
  padding: 0 10px;
  width: 75%;
  transition: box-shadow 0.2s;
}

#contact .contact-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1da385;
  padding: 5px 20px;
  margin: 15px 20px;
  border-radius: 3px;
  font-size: 2rem;
  font-weight: 700;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

#contact .contact-submit:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px #dca11d;
}

#contact input:focus,
#contact textarea:focus {
  box-shadow: 0px 0px 10px #1da385;
}

#contact textarea {
  height: 200px;
  padding: 10px;
}
