@use 'colors';

@media only screen and (max-width: 1080px) {
  #splash,
  #about,
  #projects,
  #contact {
    padding: 65px 0;
    padding-left: 0;
  }
  #nav-wrap {
    padding: 0;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: colors.$base02;
    z-index: 3;
    /* justify-content: space-evenly; */
  }
  #nav-wrap .nav-link {
    height: 65px;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    margin: 0px 7%;
    font-size: 1.4rem;
  }
  #root .modal-darken .modal-body {
    width: 700px;
    min-width: 700px;
    padding: 15px;
  }
}

@media only screen and (max-width: 960px) {
  #about .blurbs {
    flex-direction: column;
    align-items: center;
  }
  #projects .project-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #about .sections {
    flex-direction: column;
    align-items: center;
  }
  #about .sections .about-me,
  #about .sections .skills-grid {
    width: 90%;
  }
  #about .blurbs .blurb-section {
    width: 80%;
  }
  #projects .project-tile {
    margin: 30px 0;
  }
}

@media only screen and (max-width: 800px) {
  #root #profile-photo {
    width: 150px;
  }
}

@media only screen and (max-width: 700px) {
  #root .modal-darken {
    justify-content: flex-start;
  }
  #root .modal-darken .modal-body {
    position: fixed;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    top: 0;
    border: none;
    border-radius: 0;
    padding: 40px;
    overflow-y: scroll;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  #root .carousel {
    height: 200px;
    margin: 15px 0;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  #about .blurbs {
    display: none;
  }
  #root .carousel {
    height: 150px;
  }
  #root .modal-darken .modal-body {
    padding: 24px;
  }
  #root .modal-darken .modal-body p {
    font-size: 1.3rem;
    margin: 8px;
  }
}
@media only screen and (max-height: 700px) {
  #root .carousel {
    height: 150px;
  }
}

@media only screen and (max-width: 475px) {
  #nav-wrap {
    height: 50px;
    border-bottom: 1px solid colors.$base0;
  }
  #about .sections .skills-grid .icon-wrap {
    height: 50px;
  }
  #projects .project-tile {
    height: 225px;
    width: 360px;
  }
  #contact p {
    font-size: 1.5rem;
  }
  #about .sections .about-me p,
  #about .blurbs .blurb-section {
    width: 95%;
  }
  #root #splash,
  #root #about,
  #root #projects,
  #root #contact {
    background-image: none;
  }
  #document #document-body * {
    box-shadow: none;
    -webkit-filter: none;
    filter: none;
  }
}

@media (hover: none) {
  #document #document-body #root * {
    transition: none;
    animation: none !important;
  }
  .project-tile .darken {
    opacity: 1;
  }
  .project-tile .overlay {
    height: 100%;
    max-height: 100%;
  }
}
