#nav-wrap {
  position: fixed;
  height: 100%;
  width: 150px;
  padding: auto 0;
  padding-left: 20px;
  align-items: flex-start;
  justify-content: center;
}
#nav-wrap .nav-link {
  font-size: 2rem;
  font-weight: 400;
  margin: 50px 0;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}
#nav-wrap .nav-link:hover,
#nav-wrap .nav-link.true {
  color: #d33682;
  transform: scale(1.2);
}
#nav-wrap #nav-home {
  transition: width 0.5s, height 0.5s, margin 0.5s;
}
#nav-wrap #nav-home.true {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
