@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#root .modal-darken {
  position: fixed;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #11151cc0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root .modal-body {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #11151c;
  border-radius: 6px;
  box-shadow: 0px 0px 20px #def2ff;
  width: 60%;
  min-width: 900px;
  padding: 25px;
  z-index: 6;
}

#root .modal-darken.open {
  animation: open 0.3s;
}
#root .modal-darken.close {
  animation: close 0.3s;
}

#root .modal-body .modal-close {
  height: 25px;
  width: 25px;
  z-index: 8;
  color: #11151c;
  position: absolute;
  top: 15px;
  right: 15px;
  line-height: 1;
  cursor: pointer;
}

#root .modal-body h1 {
  font-family: 'Lato';
  font-size: 4rem;
}

#root .modal-body p {
  margin-bottom: 10px;
}

#root .modal-body strong {
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
  font-style: italic;
  padding: 0 3px;
}

#root .modal-body .warn {
  color: #dca11d;
  font-style: italic;
}

#root .modal-body .project-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root .modal-body .project-links a {
  height: 30px;
  display: flex;
  align-items: center;
}

#root .modal-body .project-links .bold-link {
  padding: 0 30px;
  font-size: 2rem;
}

#root .modal-body .project-links .bold-link:hover,
#root .modal-body .project-links .github-link:hover img {
  color: #1da385;
  -webkit-filter: drop-shadow(0px 0px 20px #def2ff);
  filter: drop-shadow(0px 0px 20px #def2ff);
}

#root .modal-body .project-links .live-link.disabled {
  cursor: default;
  background-color: 'red';
}

#root .modal-body .project-links .github-link img {
  height: 30px;
  width: 30px;
}
